*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{

    line-height: 1.6;
    background-image: linear-gradient(to right, #08f30bd2 0%, #17d5ea 70%);
}
h1{
    font-size: 37px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 60px  0;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
#search-input{
    width:60% ;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: 18px;
    color: #cd08af;
}
#search-button {
    padding: 10px 20px;
    background-color: #39aa00 ;
    color: #fff;
    border: none;
    font-size: 18px;
    box-shadow: 0 0 6px rgba(234, 128, 128, 0.2);
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    
}
.search-results{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.search-result{
    margin-bottom:60px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    overflow: hidden;
}
.search-result img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:opacity 0.2s ease-in-out;
}
.search-result:hover img{
    opacity: 0.8;


}

.search-result a{
    font-size: 20px;
    text-decoration: none;
    color: #535050;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}
#show-more-button{
    background-color: #008cba;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    cursor: pointer;
    /* display: none; */


}

@media screen  and (max-width:768px){
    .search-results{
        padding: 20px;
    }
    .search-result{
        width: 45%;
    }
    
}
@media screen  and (max-width:480px){
    .search-result{
        width: 100%;
    }
    
}